button {
	width: 20vh;
	height: 8vh;
	font-size: 3vh;
	border-radius: 2vh;
	border-width: 0px;
	background-color: #333;
	color: #ccc;
	text-transform: uppercase;
	cursor: pointer;
}

.container {
	height: 100vh;

	display: grid;
	grid-template-rows: 20% 50% 30%;

	place-items: center;
}

.header,
.cards,
.btns {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.cards {
	width: 80%;
}

.btns {
	width: 60%;
}

#bet-form {
	font-size: 3vh;
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	white-space: nowrap;
}

#bet-form input {
	height: 4vh;
	font-size: 2.5vh;
	border-radius: 1vh;
	border-width: 1px;
}

#bet-button {
	width: 30%;
	height: 4vh;
	font-size: 2.5vh;
}

#name-tip {
	font-size: 4vh;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#current-bet {
	font-size: 4vh;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#diff {
	-webkit-text-stroke: 1px #222;
}

.card {
	background-color: #ccc;
	width: calc(50vh * 2/3);
	/* height: 50vh; */
	aspect-ratio: 2/3;
	border-radius: 4vh;
	display: grid;
	grid-template-columns: 35% 30% 35%;
	grid-template-rows: 20% 20% 25% 15% 20%;
	box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.4);
	transform-style: preserve-3d;
	/* transform: rotateY(-180deg); */
	transition: transform .5s ease-in, box-shadow .5s ease-in-out;
}

#first-card,
#second-card,
#third-card {
	color: #d22;
	display: block;
	grid-row: 2/3;
	grid-column: 2/3;
}

.card .card-num {
	grid-row: 4/5;
	grid-column: 2/3;
	font-size: 5vh;
	text-align: center;
}

.card:before {
	content: ' ';
	background-color: #ccc;
	width: calc(50vh * 2/3);
	/* height: 50vh; */
	aspect-ratio: 2/3;
	border-radius: 3.4vh;
	transform: translateZ(-1px);

	transform-style: preserve-3d;
}

#animation-trigger:checked~.card {
	transform: rotateY(0deg);
	box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.4);
}


#login-submit,
#register-submit,
#dialog-button {
	width: 70%;
	padding: 1.5vh;
	font-size: 2.5vh;
}

dialog {
	position: fixed;
	left: 50%;
	top: 50%;

	width: 30%;
	aspect-ratio: 1/0.8;

	border: none;
	box-shadow: 0 2px 6px #ccc;
	border-radius: 2vh;
	transform: translate(-50%, -50%);
}

dialog[open] {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-rows: 15% 55% 5% 20% 5%;
	justify-items: center;
	background-color: #ededed;
}

#dialog-text {
	grid-column: 2/3;
	grid-row: 2/3;
	width: 100%;
	overflow-y: scroll;
	white-space: normal;
	text-align: center;
}

#dialog-text::-webkit-scrollbar {
	display: none;
}

#dialog-button {
	grid-column: 2/3;
	grid-row: 4/5;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}