button {
	width: 20vh;
	height: 8vh;
	font-size: 3vh;
	border-radius: 2vh;
	border-width: 0px;
	background-color: #333;
	color: #ccc;
	text-transform: uppercase;
	cursor: pointer;
}

.container {
	height: 100vh;

	display: grid;
	grid-template-rows: 20% 50% 30%;

	place-items: center;
}

.header,
.cards,
.btns {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.cards {
	width: 80%;
}

.btns {
	width: 60%;
}

#bet-form {
	font-size: 3vh;
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	white-space: nowrap;
}

#bet-form input {
	height: 4vh;
	font-size: 2.5vh;
	border-radius: 1vh;
	border-width: 1px;
	padding: 0 0 0 .5vw
}

#bet-button {
	width: 30%;
	height: 4vh;
	font-size: 2.5vh;
}

#name-tip {
	font-size: 4vh;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#current-bet {
	font-size: 4vh;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#diff {
	-webkit-text-stroke: 1px #222;
}